$col-amber: #ffc107;
$col-darkamber: #ffa000;
$col-lightamber: #FFECB3;
$col-darkgrey: #212121;
$col-lightgrey: #757575;
$col-offwhite: #BDBDBD; 


@mixin sectionborder($d, $c: $col-amber){
	border-#{ $d }: 2px solid $c;
}


html, body{
	color: $col-darkgrey;
	width: 100%;
}

.center{
	text-align: center;
}

.search-bar{
	padding: 2em;
	background: $col-lightamber;
	@include sectionborder(bottom);
}

.side-bar{
	padding: .65em;
	@include sectionborder(right); 
}

.card{
	margin: 1em;
}

.btn-info{
	outline: none !important;
	box-shadow: none !important;
	color: $col-darkgrey;
	background: none;
	border: 2px solid $col-amber;

	&:hover{
		color: $col-lightamber;
		background-color: $col-darkamber;
		border-color: $col-darkamber;
	}
	&:active{
		text-transform: scale(.9);
	}
}

input{
	background: none;
	border: none;
	box-shadow: none;
	padding: 0 .3em;
	margin: 0 .3em;
	@include sectionborder(bottom, darken($col-darkamber, 15%));

	&:focus{
		@include sectionborder(bottom, $col-amber);
	}
}

.drop-zone{
	border: 1.5px dotted $col-darkgrey;
	min-height: 25%;
}