$col-amber: #ffc107;
$col-darkamber: #ffa000;
$col-lightamber: #FFECB3;
$col-darkgrey: #212121;
$col-lightgrey: #757575;
$col-offwhite: #BDBDBD; 
$col-error: #FF5252;

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Roboto:700');

$font-body: 'Nunito Sans', sans-serif;
$font-headings: 'Roboto', sans-serif;

@mixin sectionborder($d, $c: $col-amber){
	border-#{ $d }: 2px solid $c;
}


html, body{
	color: $col-darkgrey;
	font-family: $font-body;
	width: 100%;
	height: 100%;

	.container-fluid, .row:nth-child(2){
		height: 100%;
	}

	h1, h2, h3, h4, h5, h6, span, label{
		font-family: $font-headings;
	}
}

.center{
	text-align: center;
}

.search-bar{
	padding: 2em;
	background: $col-lightamber;
	@include sectionborder(bottom);
}

.side-bar{
	padding: .65em;
	@include sectionborder(right); 
}

.card{
	margin: 1em;
}

.btn-info{
	outline: none !important;
	box-shadow: none !important;
	color: $col-darkgrey;
	background: none;
	border: 2px solid $col-amber;

	&:hover, 
	&:active,
	&:focus,
	&:not([disabled]):not(.disabled).active, 
	&:not([disabled]):not(.disabled):active{
		color: $col-lightamber;
		background-color: $col-darkamber;
		border-color: $col-darkamber;
	}
	&:active{
		transform: scale(.9);
	}
}

a{
	color: $col-darkamber;
	transition: all 0.5s;
	&:hover{
		color: darken($col-darkamber, 15%);
		text-decoration: none;
	}
}

input{
	background: none;
	border: none;
	box-shadow: none;
	padding: 0 .3em;
	margin: 0 .3em;
	@include sectionborder(bottom, $col-amber);

	&:focus{
		@include sectionborder(bottom, darken($col-darkamber, 15%));
	}

	&:invalid{
		color: $col-error;
	}
}

.drop-zone{
	border: 1.5px dotted $col-darkgrey;
	padding: 2em;
	margin: 2em;
	min-height: 25%;
}

#search-trends, 
#search-top{
	ol{
		list-style: none;
		padding-left: 0px;
	}
}